@model IEnumerable<MvcFrameWork.Models.Albums>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Bem - Vindo</h1>
&nbsp
<h3>
    Meu nome é Adriano Andrade,
</h3>
<h3>
    E este é meu projeto do desafio Técnico Padawans.
</h3>